:root {
  // --app-light: rgb(255, 255, 255);
  --app-light: rgb(219, 217, 217);
  // --app-main-bg-color: rgb(230, 230, 230);
  --app-main-bg-color: rgb(177, 176, 176);
  // --app-aside-bg-color: rgb(124, 124, 124);
  --app-aside-bg-color: rgb(117, 117, 117);
  --app-dark: rgb(32, 32, 32);

  //Charte graphique
  --app-primary: rgb(0, 159, 199);
  --app-primary-dark: rgb(0, 112, 139);
  --app-secondary: rgb(61, 235, 183);

  //Pour les warning
  --app-error: rgb(224, 91, 50);
  --app-warning: rgb(238, 228, 85);
  --app-success: rgb(82, 255, 149);

}
