<!-- istance de hearder component -->
<!-- <app-header></app-header> -->
<!-- instance de home component -->
<!-- <app-home></app-home> -->
<!-- instance de footer component -->
<!-- <app-footer></app-footer> -->
<app-ui>
  <app-icon-nav class="tr-open"></app-icon-nav>
  <app-icon-close class="tr-close"></app-icon-close>
  <app-nav class="tr-nav"></app-nav>
  <app-header class="tr-header"></app-header>
  <app-footer class="tr-footer"></app-footer>
  <router-outlet class="tr-content"></router-outlet>
</app-ui>
