/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  //background: rgba(0, 0, 0, 0.3);
}
@import './stylings/theme';
@import './stylings/fonts';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

.btn-primary{
  background-color: var(--app-primary);
  border-color: var(--app-primary);

  &:hover{
    background-color: var(--app-primary-dark);
    border-color: var(--app-primary-dark);
  }
}
