<section>
  <h2>LA PAGE OUI</h2>
  <br>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae non nulla illo molestiae, doloribus rerum ullam voluptatem dolorum molestias laboriosam, repellendus, aliquam expedita. A asperiores officia excepturi deserunt earum, unde esse modi cumque! Sunt, quis possimus recusandae iure itaque vitae labore soluta doloribus debitis corporis deleniti eveniet rerum, pariatur ab?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure consequatur labore velit animi iusto minima quisquam placeat? Dignissimos, molestias tempora.</p>
</section>
