<ul>
  <li class="nav-item">
    <a class="nav-link" routerLink="/orders" routerLinkActive="active">
      <app-icon-list-items></app-icon-list-items>
      <span>Orders</span>
    </a>
    <!-- <ul class="dropMenu">
      <li>alo1</li>
      <li>alo2</li>
      <li>alo3</li>
    </ul> -->
  </li>
  <hr>
  <li class="nav-item">
    <a class="nav-link" routerLink="/users" routerLinkActive="active">
      <app-icon-list-users></app-icon-list-users>
      <span>Users</span>
    </a>
    <!-- <ul class="dropMenu">
      <li>alo1</li>
      <li>alo2</li>
      <li>alo3</li>
    </ul> -->
  </li>
  <hr>
  <li class="nav-item">
    <a class="nav-link" routerLink="/clients" routerLinkActive="active">
      <app-icon-list-clients></app-icon-list-clients>
      <span>Clients</span>
    </a>
    <!-- <ul class="dropMenu">
      <li>alo1</li>
      <li>alo2</li>
      <li>alo3</li>
    </ul> -->
  </li>
</ul>
      <!-- <li> <a routerLink="/orders" routerLinkActive="active" class="nav-link text-white"> <i class="fa fa-dashboard"></i><span class="ms-2">Orders</span> </a> </li> -->
